body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.block1{
    background-image: url(../images/aloe2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    /* height: 100vh; */
    margin: 20px;
    position: relative;
}
.headertext{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.htext2 span{
    margin-left: 50px;
}
.button1{
    padding: 12px 35px;
    border: 2px solid #000;
    font-weight: 600;
}
.htext1{
    font-size: 35px;
    margin-left: 30px;
    font-weight: 800;
}
.htext2{
    font-size: 18px;
}
.block1text{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block1text1{
    font-size: 120px;
    font-weight: 600;
}
.block1text2{
    font-weight: 500;
    font-size: 30px;
}
.line{
    width: 65px;
    border: 3px solid #39551f;
    border-radius: 2px;
    margin-top: 20px;
}
.line1{
    width: 50px;
    border: 3px solid #000;
    border-radius: 2px;
    margin-top: 100px;
}
.line2{
    width: 75px;
    border: 3px solid #000;
    border-radius: 3px;
    margin-top: 20px;
}
.line3{
    width: 50px;
    border: 3px solid #000;
    border-radius: 3px;
    margin-top: 10px;
}
.block2{
    height: 100vh;
    background-color: #f2f4f1;
    margin: 20px 20px 0px 20px;
}
.block2text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 3%; /* Или 100px */
    right: 0px;
    left: 0px;
    font-size: 30px;
}
.blocklist{
    display: flex;
    gap: 40px;
    height: 100vh;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: 0px 35px;
}
.blocklistimage img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.blocklistimage{
    width: 100%;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 70vh;
    box-shadow: 2px 1px 6px 0px #000;
}
.blocklisttext{
    padding: 15px 25px;
    text-align: center;
    font-size: 25px;
    line-height: 1.8;
}

.block3{
    height: 100vh;
}
.fullblock3{
    display: flex;
    align-items: center;
    width: 100%;
}
.block3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageblock3{
    width: 100%;
}
.imageblock3 img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
}
.textblock3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.subscribe{
    height: 50vh;
    width: 100%;
    background-color: #dfe4de;
    text-align: center;
}
.text2block3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.text3block3{
    line-height: 1.8;
    margin-top: 3%;
}
.about{
    font-size: 30px;
}
.textsubscribe1{
    font-size: 30px;
}
.textsubscribe2{
    font-size: 25px
}
.buttonblock3{
    font-size: 25px;
    padding: 10px 55px;
    border: 2px solid #000;
    margin-top: 25px;
}
.buttonblock3 a{
    color: #000;
}
.string{
    width: 30vw;
    margin-top: 20px;
}
.string_label{
    display: block;
    margin-bottom: 0.25rem;
}
.string_imput{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #eff1ee;
    background-clip: padding-box;
    /* border: 1px solid #bdbdbd; */
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 30px 15px;
}
.string_imput::placeholder {
    color: #212529;
    opacity: 0.4;
  }
  .string_imput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
  .icons{
    display: flex;
    gap: 5px;
}
.allicons{
    border-radius: 50%;
    width: 45px;
    height: 42px;
}